@use '../../styles/vars';
@use 'sass:color';

.results{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    top: 4rem;
    background-color: color.adjust(vars.$color-searchBar, $alpha: -0.10);
    padding: 1rem;
    padding-left: 4rem;
    box-shadow: 1px 1px 5px vars.$color-searchBarText; 
    margin: auto;
    width: 90%;
    
    &:hover{
        background-color: color.adjust(vars.$color-searchBar, $alpha: -0.02);
    }

    &-ul{
        padding-bottom: 1.5rem;
    }

    &-title{
        font-size: 20px;
        line-height: 24px;
        color: #6A5DAD;
    }

    &-url{
        padding: 1px 0 0 0;
        line-height: 24px;
        font-size: 15px;
        color: #006621;
        padding-top:0.4rem;
    }

    &-description{
        color:#767676;
        padding-top:0.4rem;
        line-height:22px;
        font-size: 16px;
    }    
}

@media only screen and (min-width: 401px) and (max-width: 500px){
    .results{
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 400px){
    .results{
        padding: 0.5rem;
        padding-left: 1rem;
        margin: 0% 0% 0% 2%;
        width: 90%;
    
        &-ul{
            padding-bottom: 0.5rem;
        }
    
        &-title{
            font-size: 16px;
            line-height: 24px;
            color: #6A5DAD;
        }
    
        &-url{
            padding: 1px 0 0 0;
            line-height: 24px;
            font-size: 14px;
            color: #006621;
            padding-top:0.4rem;
        }
    
        &-description{
            color:#767676;
            padding-top:0.4rem;
            line-height:22px;
            font-size: 15px
        }    
    }
}